//===========================================================================
$small-phone: 320px;
$phone: 360px;


$mobile: 576px;

$tablet-landscape: 992px;

$mid-desktop: 1400px;
$large-desktop: 1761px;

$tablet: 768px;
$desktop: 1680px;
//=========================================================================== 