//===========================================================================
$phone: 360px;
$tablet: 768px;
$laptops: 1024px;
$desktop: 1280px;
$mid-desktop: 1712px;

/*
$mobile: 576px;
$mid-desktop: 1408px;
$large-desktop: 1761px;
$tablet-landscape: 1024px;
$desktop: 1680px;
*/
//=========================================================================== 